.common-btn{
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FE0E36;
    transition: 0.3s all ease;

    p{
        color: #fff;
        font-size: 12px;
    }

    &:hover{
        background: #E40F33;
    }
}

.commont-btn__inactive{
    border: 1px solid #ccc;
    background: #fff;

    p{
        color: #ccc;
    }

    &:hover{
        background: #fff;

        p{
            color: #ccc;
        }
    }
}

.common-btn_white{
    border: 2px solid #F74E05;
    background: #fff;

    p{
        color: #333;
    }

    &:hover{
        background: #F74E05;

        p{
            color: #fff;
        }
    }
}

.common-btn_yellow{
    border: 2px solid #F5D6B2;
    background: #F5D6B2;

    p{
        color: #333;
    }

    &:hover{
        border: 2px solid #E3C29C;
        background: #E3C29C;

        p{
            color: #333;
        }
    }
}

.common-input{
    width: 100%;
    height: 42px;
    border: 1px solid #C8C8C8;
    border-radius: 50px;
    padding: 0 19px;
    font-size: 14px;
}

.common-textarea{
    border: 1px solid #C8C8C8;
    border-radius: 16px;
    padding: 19px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 100%;
    resize: none;
}

.product-cart{
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    .product-img{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    .product-sku{
        width: 100%;
        font-weight: 300;
    }

    .product-link{
        text-decoration: none;
        width: 100%;
    }

    .product-name{
        font-weight: 300;
        width: 100%;
        color: #333;
    }

    .product-price{
        width: 100%;
        font-weight: 700;
    }
}

.common-select{
    position: relative;

    img{
        position: absolute;
        right: 15px;
        top: 11px;
    }

    select{
        appearance: none;
        width: 100%;
        height: 40px;
        border-radius: 50px;
        padding: 0 20px;
        border: 1px solid #C8C8C8;    
    }
}