@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'standart';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

body{
    font-family: 'Inter', sans-serif;
    color: #333;
}

.box-container{
    width: 1200px;
    margin: auto;
}

.header{
    margin-top: 20px;

    .header__top{
        display: flex;
        align-items: center;
        height: 115px;

        .header__top-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header__search-contacts{
                display: flex;
                flex-direction: column;
                width: 605px;

                .header__contacts{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .header__contacts-unit{
                        display: flex;
                        align-items: center;
                        font-size: 12px;

                        a{
                            display: flex;
                            margin-left: 12px;
                            text-decoration: none;
                            color: #333;
                        }
                    }
                }

                .header__search{
                    position: relative;
                    margin-top: 16px;

                    input{
                        width: 100%;
                        height: 38px;
                        border-radius: 50px;
                        border: 1px solid #CCCCCC;
                        padding: 0 64px;
                    }

                    .header__search-img{
                        position: absolute;
                        top: 7px;
                        left: 15px;
                    }

                    .header__search-btn{
                        position: absolute;
                        top: 4px;
                        right: 6px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #FE0E36;
                        cursor: pointer;

                        img{
                            width: 12px;
                        }
                    }
                }


            }

            .header__cart-block{
                display: flex;
                align-items: center;
                position: relative;

                .header__cart-img{
                    cursor: pointer;
                }

                .header__cart-order{
                    margin-left: 40px;
                    display: flex;
                    flex-direction: column;

                    .quantity-header-cart{
                        display: flex;
                        font-size: 12px;

                        span{
                            color: #FE0E36;
                        }
                    }

                    .common-btn_cart{
                        height: 34px;
                        width: 132px;
                        margin-top: 15px;
                    }
                }

                .cart-menu{
                    position: absolute;
                    right: 0;
                    top: 138%;
                    background: #fff;
                    width: 473px;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    z-index: 200;
                    padding: 23px 23px 39px;
                    display: none;

                    .cart-menu__header{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4{
                            font-weight: 600;
                            font-size: 18px;
                        }

                        img{
                            cursor: pointer;
                        }
                    }


                    .cart-menu__wrapper{
                        .cart-menu__unit{
                            margin-top: 15px;
                            padding-top: 8px;
                            border-top: 1px solid #ccc;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .cart-product-img{
                                width: 70px;
                            }

                            .cart-menu__unit-link{
                                text-decoration: none;

                                .cart-menu__unit-name{
                                    width: 181px;
                                    font-size: 14px;
                                    color: #333;
                                }
                            }

                            .cart-menu__unit-count{
                                width: 37px;
                                font-size: 14px;
                            }

                            .cart-menu__unit-delete{
                                cursor: pointer;
                            }
                        }
                    }

                    .cart-menu__btn-link{
                        text-decoration: none;

                        .common-btn_cart-menu{
                            height: 40px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    .header__bottom{
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
        background: #F5D6B2;

        .header__bottom-wrapper{
            display: flex;
            justify-content: space-between;

            .common-btn_header-catalog{
                height: 48px;
                width: 223px;

                p{
                    margin-left: 22px;
                }
            }

            .header-catalog-block-link{
                display: flex;
                text-decoration: none;
            }

            .header__bottom-major-catalog{
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                    display: flex;
                    color: #333;

                    .header__bottom-major-catalog-unit{
                        display: flex;
                        align-items: center;

                        p{
                            font-size: 12px;
                            margin-left: 12px;
                        }
                    }
                }

                a+a{
                    margin-left: 25px;
                }
            }

            .header__bottom-catalog-more-block{
                height: 48px;
                display: flex;
                align-items: center;
                position: relative;

                .header__bottom-catalog-more{
                    cursor: pointer;
                }

                .header__bottom-catalog-img-menu{
                    position: absolute;
                    top: 102%;
                    right: 0;
                    width: 288px;
                    background: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    list-style: none;
                    display: none;
                    z-index: 200;

                    li{
                        a{
                            text-decoration: none;
                            color: #333;
                            display: flex;
                            align-items: center;

                            .img-menu-block{
                                width: 31px;
                                height: 31px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            p{
                                color: #333;
                                margin-left: 12px;
                                font-size: 12px;
                            }

                            &:hover{
                                color: #FE0E36;
                                
                                p{
                                    color: #FE0E36;
                                }
                            }
                        }
                    }

                    li+li{
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

.footer{
    margin-top: 100px;
    padding-top: 50px;
    border-top: 1px solid #ccc;
    padding-bottom: 50px;

    .footer__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .footer__column{
            .footer__column-logo{
                width: 148px;
            }

            .footer__copyright{
                color: #666;
                font-size: 14px;
                width: 220px;
                margin-top: 20px;
            }

            .footer-link{
                text-decoration: none;
                display: flex;
                color: #F74E05;
                font-size: 14px;
            }

            .footer-link_copyright{
                width: 148px;
                margin-top: 15px;
            }

            h4{
                font-size: 16px;
                font-weight: 600;
            }

            .footer__address{
                margin-top: 21px;
                color: #666;
            }

            .footer-link_mail{
                margin-top: 12px;
            }

            .common-btn_white-footer{
                width: 220px;
                height: 42px;
                margin-top: 30px;
            }

            .footer-nav{
                list-style: none;
                
                li{
                    a{
                        text-decoration: none;
                        color: #666;
                        font-size: 15px;

                        &:hover{
                            color: #FE0E36;
                        }
                    }
                }

                li+li{
                    margin-top: 13px;
                }
            }

            .footer__phone{
                color: #666;
                text-decoration: none;
                font-size: 16px;
            }

            .footer-recall{
                margin-top: 15px;
                display: flex;
                align-items: center;
                color: #F74E05;
                cursor: pointer;

                p{
                    margin-left: 10px;
                }
            }

            .social-block{
                margin-top: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;

                .social-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 15px;

                    a{
                        text-decoration: none;
                        display: flex;
                    }

                    a+a{
                        margin-left: 25px;
                    }
                }
            }
        }
        
        
    }
}

.template-main{
    margin-top: 50px;

    .breadcrumbps{
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 14px;

            li{
                a{
                    text-decoration: none;
                    color: #333;
                }
            }

            .last-crumb{
                color: #FE0E36;
            }
        }
    }

    .page-title{
        margin-top: 15px;
        font-size: 32px;
    }

    .pagination-wrapper{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;

        .pagination{
            display: flex;
            list-style: none;

            li{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    text-decoration: none;
                    color: #666;
                }
            }

            li+li{
                margin-left: 10px;
            }

            .active{
                background: #FE0E36;

                a{
                    color: #fff;
                }
            }
        }
    }
}


.contacts-page__top-line{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;

    .contacts-page__top-line-unit{
        .contacts-page__top-line-unit-wrapper{
            display: flex;
            align-items: flex-start;
            width: 294px;

            .img-box{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .contacts-page__top-line-unit-text{
                margin-left: 18px;
                width: 220px;

                h4{
                    font-weight: 600;
                    margin-bottom: 11px;
                    font-size: 20px;
                }
            }
        }

        .common-btn_white-contacts{
            height: 40px;
            width: 230px;
            margin-top: 10px;
        }

        .contacts-page__top-line-unit-social{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 230px;

            .contacts-page__top-line-unit-social-block{
                width: 52px;
                height: 52px;
                border-radius: 50%;
                border: 2px solid #FE0E36;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.contacts-map-wrapper{
    margin-top: 50px;
    position: relative;

    .map-contacts{
        position: absolute;
        top: 50px;
        left: 70px;
        width: 290px;
        background: #fff;
        padding: 20px 23px 32px;
        border-radius: 5px;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

        h4{
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 6px;
        }

        .common-input{
            margin-top: 7px;
        }

        .common-textarea{
            height: 136px;
            margin-top: 7px;
        }

        .common-btn_send-contacts-map{
            height: 45px;
            margin-top: 15px;
        }
    }
}

.delivery-page{
    margin-top: 40px;
}

.delivery-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .delivery-text{
        width: 580px;

        h2{
            font-size: 28px;
            font-weight: 600;
        }

        p{
            margin-top: 25px;
            font-size: 18px;
            line-height: 140%;
        }
    }

    .delivery-bg{
        position: absolute;
        top: 0;
        left: 0;
    }
}

.delivery-company{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -19px;

    .delivery-company__unit{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 12px 10px 20px;
        width: 223px;
        margin-top: 20px;
        margin-left: 19px;

        p{
            margin-top: 12px;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            height: 35px;
        }

        a{
            text-decoration: none;
        }

        .delivery-company__unit-btn{
            width: 172px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #FFA158;
            border-radius: 4px;
            background: #fff;
            transition: 0.3s all ease;
            margin-top: 15px;
            cursor: pointer;

            p{
                margin: 0;
                color: #FFA158;
                text-align: center;
            }

            &:hover{
                background: #FFA158;

                p{
                    color: #fff;
                }
            }
        }
    }
}

.delivery-notice{
    margin-top: 70px;
    padding: 20px 26px;
    background: #FFE8D5;
    border-radius: 4px;

    p{
        font-size: 16px;
        color: #FF8A2E;
        line-height: 19px;
    }
}

.payment-page{
    margin-top: 40px;
}

.payment-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .payment-unit{
        display: flex;
        flex-direction: column;
        width: 320px;

        .payment-title{
            width: 100%;
            height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #FE0E36;
            border-radius: 6px;

            .payment-title-img{
                width: 66px;
                height: 66px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                width: 174px;
                margin-left: 20px;
                font-weight: 600;
            }
        }

        p{
            margin-top: 15px;
            font-size: 14px;
            line-height: 170%;

            a{
                color: #FE0E36;
                text-decoration: none;
            }
        }
    }
}

.fancy-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);

    .fancy-box__wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .reacall-box{
            background: #fff;
            width: 400px;
            padding: 45px 30px;
            border-radius: 6px;
            position: relative;

            .reacall-box__close{
                position: absolute;
                top: 25px;
                right: 18px;
                cursor: pointer;
            }

            .reacall-box__title{
                h4{
                    font-weight: 700;
                    font-size: 24px;
                }

                p{
                    margin-top: 10px;
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }
}

.fancy-box_recall{
    display: none;

    .input-block{
        margin-top: 7px;

        input{
            margin-top: 8px;
        }
    }

    .common-btn_recall-form{
        margin-top: 15px;
        height: 50px;
    }

    .recall-notice{
        margin-top: 10px;
        font-size: 12px;
        color: #666;

        a{
            color: #666;
        }
    }
}

.fancy-box_selection{
    display: none;
    .input-block{
        margin-top: 10px;

        input{
            margin-top: 7px;
        }

        textarea{
            height: 92px;
        }

        .shield-block{
            margin: 10px 0;

            p{
                font-size: 14px;
            }

            .common-btn_upload-photo{
                width: 138px;
                height: 30px;
                margin-top: 15px;
            }
        }
    }

    .common-btn_send-request{
        height: 45px;
        margin-top: 20px;
    }
}

.banner-unit{
    img{
        width: 100%;
    }
}

.selection-parts{
    margin-top: 50px;

    h4{
        font-size: 24px;
        font-weight: 600;
    }

    p{
        font-size: 14px;
        margin-top: 15px;
    }

    .common-btn_selection-parts{
        margin-top: 25px;
        width: 200px;
        height: 45px;

        p{
            margin: 0;
        }
    }
}

.add-new{
    margin-top: 50px;

    h2{
        font-size: 24px;
        font-weight: 600;
    }
}

.product-main__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-left: -34px;

    .product-cart_big{
        width: 274px;
        height: 459px;
        padding: 14px 14px 30px;
        margin-left: 34px;
        margin-top: 40px;

        .product-img{
            height: 201px;
        }

        .product-sku{
            margin-top: 15px;
        }

        .product-name{
            font-size: 16px;
            margin-top: 10px;
        }

        .product-price{
            margin-top: 20px;
            font-size: 16px;
        }

        .common-btn_shop-product{
            margin-top: 30px;
            height: 36px;
            width: 100%;

            p{
                margin-left: 10px;
            }
        }

        .common-btn_white-shop-one-click{
            margin-top: 15px;
            height: 36px;
            width: 100%;

            p{
                margin-left: 10px;
            }
        }
    }
}

.manufacturer-list{
    margin-top: 50px;

    h2{
        font-size: 24px;
        font-weight: 600;
    }

    .manufacturer-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        .manufactuter-main-unit-link{
            display: flex;
            text-decoration: none;

            .manufactuter-main-unit{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 240px;
                height: 112px;
                border: 1px solid #CCCCCC;
                padding: 12px;

                .manufactuter-main-unit-img{
                    width: 162px;
                    height: 62px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        object-fit: contain;
                    }
                }

                p{
                    font-weight: 600;
                    color: #333;
                }
            }
        }
    }
}

.about-text{
    margin-top: 50px;

    h2{
        font-size: 24px;
        font-weight: 600;
    }

    .about-text__block{
        margin-top: 30px;

        p{
            font-size: 14px;
        }

        p+p{
            margin-top: 20px;
        }
    }
}

.delivery-banner{
    margin-top: 50px;
    border: 1px solid #CCCCCC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;

    .delivery-banner__text{
        margin-left: 40px;
        p{
            font-size: 14px;
        }

        a{
            text-decoration: none;
        }

        .common-btn_delivery-banner{
            width: 220px;
            height: 35px;
            margin-top: 15px;
        }
    }
}

.manufacturer-page{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;

    .manufacturer-page__unit-link{
        text-decoration: none;
        display: flex;
        margin-left: 18px;
        margin-top: 35px;
    }

    .manufacturer-page__unit{
        width: 284px;
        height: 322px;
        border: 1px solid #CCCCCC;
        box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 21px;

        .manufacturer-page__unit-img{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 181px;
            border-bottom: 1px solid #ccc;
        }

        h4{
            font-size: 16px;
            font-weight: 500;
            color: #333;
            margin-top: 10px;
        }

        p{
            margin-top: 8px;
            font-size: 14px;
            color: #333;
        }
    }
}

.product-page{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 40px 30px;

    .product-page__img{
        width: 348px;
        height: 348px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            min-width: 100%;
        }
    }

    .product-page__data{
        width: 640px;

        .product-page__title{
            font-size: 28px;
            font-weight: 700;
        }

        .product-page__sku-stock{
            margin-top: 35px;
            display: flex;
            align-items: center;

            .product-page__sku{
                color: #999;
                font-size: 14px;
            }

            .product-page__stock{
                display: flex;
                align-items: center;
                margin-left: 40px;
                color: #FE0E36;

                p{
                    margin-left: 7px;
                }
            }
        }

        .product-description{
            margin-top: 40px;
            font-size: 14px;
            line-height: 140%;
            width: 100%;
        }

        .product-price{
            margin-top: 25px;
            display: flex;
            align-items: center;

            .product-price-common{
                h4{
                    font-size: 28px;
                    font-weight: 600;
                }

                p{
                    margin-top: 2px;
                    font-size: 14px;
                    color: #808080;
                }
            }

            .product-price__wholesale{
                margin-left: 20px;
                padding-left: 20px;
                border-left: 1px solid #B3B3B3;

                h4{
                    color: #808080;
                }
            }
        }

        .product-counter-shop-manufacturer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 35px;

            .common-btn_product-shop{
                width: 180px;
                height: 55px;
            }
        }
    }
}

.product__count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    
    .product__count-btn{
        height: 55px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .product__count-input{
        width: 55px;
        height: 50px;
        text-align: center;
        border: none;
        background: #fff;
        font-size: 26px;
        color: #808080;
    }
}


.checkout-page-box{
    padding: 26px 28px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.checkout-page{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;

    .checkout-page__data{
        width: 850px;

        .checkout-page__title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        .checkout-contacts__line{
            display: flex;
            align-items: center;
        }

        .checkout-contacts__input{
            width: 220px;
        }

        .checkout-contacts__input+.checkout-contacts__input{
            margin-left: 10px;
        }

        .checkout-contacts__input-long{
            margin-top: 10px;
            width: 450px;
        }

        .checkout-details{
            margin-top: 50px;

            .checkout-details__unit{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                border-top: 1px solid #ccc;

                .checkout-details__unit-img{
                    width: 127px;
                    height: 127px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        max-width: 100%;
                        object-fit: contain;
                    }
                }

                .checkout-details__unit-text{
                    width: 240px;

                    .checkout-details__unit-sku{
                        font-size: 12px;
                        color: #999;
                    }

                    .checkout-details__unit-name-link{
                        display: flex;
                        text-decoration: none;
                        color: #333;
                        margin-top: 8px;
                    }
                }

                .checkout-details__unit-price{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .checkout-details__unit-price-old{
                        color: #999;
                        text-decoration: line-through;
                    }

                    .checkout-details__unit-price-curr{
                        margin-top: 3px;
                        font-size: 22px;
                        color: #333;
                    }
                }

                .product__count{
                    width: 135px;

                    .product__count-btn{
                        height: 43px;
                    }

                    .product__count-input{
                        height: 43px;
                    }
                }

                .checkout-details__unit-delete{
                    cursor: pointer;
                }
            }
        }

        .checkout-payment-methods{
            margin-top: 40px;

            .checkout-payment-methods-wrapper{
                margin-top: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .checkout-payment-method{
                    width: 242px;
                    height: 82px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    background: #fff;
                    transition: 0.3s all ease;

                    .checkout-payment-method__img{
                        width: 38px;
                        height: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    p{
                        width: 143px;
                        font-size: 14px;
                        margin-left: 12px;
                    }

                    &:hover{
                        background: #F5D6B2;
                    }
                }

                .checkout-payment-method_active{
                    background: #F5D6B2;
                }
            }
        }
    }

    .checkout-totals{
        width: 300px;
        position: sticky;
        top: 200px;
        padding: 19px 25px;
        background: #666666;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        color: #fff;

        .checkout-totals__title{
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 25px;
        }

        .checkout-totals__line{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
            
            p{
                font-size: 14px;
            }

            span{
                font-size: 16px;
            }
        }

        .checkout-totals__line+.checkout-totals__line{
            margin-top: 20px;
        }

        .checkout-totals__line-summ{
            p{
                font-size: 18px;
            }

            h4{
                font-size: 24px;
                font-weight: 600;
            }
        }

        .checkout-demmiter{
            height: 1px;
            width: 100%;
            background: #ccc;
            margin: 20px 0;
        }

        .common-btn_get-shop{
            height: 50px;
        }

        a{
            color: #fff;
            text-align: center;
            display: flex;
            margin-top: 15px;
            width: 100%;
            justify-content: center;
        }
    }
}

.catalog-manufacturer-search__page{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .sidebar-catalog{
        width: 290px;
    }

    .sidebar-catalog__block{
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 28px 25px;
    }
}

.page-wrapper{
    width: 878px;
    
}

.product_page-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -19px;
    margin-top: -25px;
}

.product-cart_sm{
    width: 200px;
    height: 335px;
    margin-left: 19px;
    margin-top: 25px;
    padding: 10px;

    .product-sku{
        font-size: 14px;
        margin-top: 10px;
    }

    .product-name{
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
    }

    .product-price{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .common-btn{
        width: 100%;
        height: 25px;
        margin-top: 8px;

        p{
            margin-left: 8px;
        }
    }
}

.sidebar-search__form{
    .common-select{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .checkbox-block{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        align-items: center;
    }

    .common-btn{
        width: 100%;
        height: 35px;
        border: none;
        color: #fff;
        margin-top: 15px;
    }
}

.manufacturer-list__block{
    width: 100%;
    border: 1px solid #ccc;
    padding: 30px 20px;

    h4{
        color: #333;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }

    ul{
        margin-top: 25px;
        padding-left: 20px;

        li{
            font-size: 16px;
            margin-top: 8px;

            &::marker{
                color: #FE0E36;
                font-size: 18px;
            }

            a{
                text-decoration: none;
                color: #333;
            }
        }
    }
}

.private-page{
    .privacy-secthion{
        margin-top: 20px;

        h4{
            font-size: 18px;
            margin-bottom: 15px;
        }

        p{
            margin-top: 15px;
            line-height: 130%;
        }

        ul{
            list-style: none;
            padding-left: 20px;
            margin-top: 15px;

            li{
                margin-top: 8px;
                line-height: 140%;
            }
        }
    }
}