@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.common-btn {
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FE0E36;
  transition: 0.3s all ease;
}
.common-btn p {
  color: #fff;
  font-size: 12px;
}
.common-btn:hover {
  background: #E40F33;
}

.commont-btn__inactive {
  border: 1px solid #ccc;
  background: #fff;
}
.commont-btn__inactive p {
  color: #ccc;
}
.commont-btn__inactive:hover {
  background: #fff;
}
.commont-btn__inactive:hover p {
  color: #ccc;
}

.common-btn_white {
  border: 2px solid #F74E05;
  background: #fff;
}
.common-btn_white p {
  color: #333;
}
.common-btn_white:hover {
  background: #F74E05;
}
.common-btn_white:hover p {
  color: #fff;
}

.common-btn_yellow {
  border: 2px solid #F5D6B2;
  background: #F5D6B2;
}
.common-btn_yellow p {
  color: #333;
}
.common-btn_yellow:hover {
  border: 2px solid #E3C29C;
  background: #E3C29C;
}
.common-btn_yellow:hover p {
  color: #333;
}

.common-input {
  width: 100%;
  height: 42px;
  border: 1px solid #C8C8C8;
  border-radius: 50px;
  padding: 0 19px;
  font-size: 14px;
}

.common-textarea {
  border: 1px solid #C8C8C8;
  border-radius: 16px;
  padding: 19px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.product-cart {
  border: 1px solid #CCCCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.product-cart .product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-cart .product-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-cart .product-sku {
  width: 100%;
  font-weight: 300;
}
.product-cart .product-link {
  text-decoration: none;
  width: 100%;
}
.product-cart .product-name {
  font-weight: 300;
  width: 100%;
  color: #333;
}
.product-cart .product-price {
  width: 100%;
  font-weight: 700;
}

.common-select {
  position: relative;
}
.common-select img {
  position: absolute;
  right: 15px;
  top: 11px;
}
.common-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding: 0 20px;
  border: 1px solid #C8C8C8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
}

.box-container {
  width: 1200px;
  margin: auto;
}

.header {
  margin-top: 20px;
}
.header .header__top {
  display: flex;
  align-items: center;
  height: 115px;
}
.header .header__top .header__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__top .header__top-wrapper .header__search-contacts {
  display: flex;
  flex-direction: column;
  width: 605px;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__contacts .header__contacts-unit {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__contacts .header__contacts-unit a {
  display: flex;
  margin-left: 12px;
  text-decoration: none;
  color: #333;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__search {
  position: relative;
  margin-top: 16px;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__search input {
  width: 100%;
  height: 38px;
  border-radius: 50px;
  border: 1px solid #CCCCCC;
  padding: 0 64px;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__search .header__search-img {
  position: absolute;
  top: 7px;
  left: 15px;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__search .header__search-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FE0E36;
  cursor: pointer;
}
.header .header__top .header__top-wrapper .header__search-contacts .header__search .header__search-btn img {
  width: 12px;
}
.header .header__top .header__top-wrapper .header__cart-block {
  display: flex;
  align-items: center;
  position: relative;
}
.header .header__top .header__top-wrapper .header__cart-block .header__cart-img {
  cursor: pointer;
}
.header .header__top .header__top-wrapper .header__cart-block .header__cart-order {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.header .header__top .header__top-wrapper .header__cart-block .header__cart-order .quantity-header-cart {
  display: flex;
  font-size: 12px;
}
.header .header__top .header__top-wrapper .header__cart-block .header__cart-order .quantity-header-cart span {
  color: #FE0E36;
}
.header .header__top .header__top-wrapper .header__cart-block .header__cart-order .common-btn_cart {
  height: 34px;
  width: 132px;
  margin-top: 15px;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu {
  position: absolute;
  right: 0;
  top: 138%;
  background: #fff;
  width: 473px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ccc;
  z-index: 200;
  padding: 23px 23px 39px;
  display: none;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__header h4 {
  font-weight: 600;
  font-size: 18px;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__header img {
  cursor: pointer;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__wrapper .cart-menu__unit {
  margin-top: 15px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__wrapper .cart-menu__unit .cart-product-img {
  width: 70px;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__wrapper .cart-menu__unit .cart-menu__unit-link {
  text-decoration: none;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__wrapper .cart-menu__unit .cart-menu__unit-link .cart-menu__unit-name {
  width: 181px;
  font-size: 14px;
  color: #333;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__wrapper .cart-menu__unit .cart-menu__unit-count {
  width: 37px;
  font-size: 14px;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__wrapper .cart-menu__unit .cart-menu__unit-delete {
  cursor: pointer;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__btn-link {
  text-decoration: none;
}
.header .header__top .header__top-wrapper .header__cart-block .cart-menu .cart-menu__btn-link .common-btn_cart-menu {
  height: 40px;
  margin-top: 20px;
}
.header .header__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background: #F5D6B2;
}
.header .header__bottom .header__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.header .header__bottom .header__bottom-wrapper .common-btn_header-catalog {
  height: 48px;
  width: 223px;
}
.header .header__bottom .header__bottom-wrapper .common-btn_header-catalog p {
  margin-left: 22px;
}
.header .header__bottom .header__bottom-wrapper .header-catalog-block-link {
  display: flex;
  text-decoration: none;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-major-catalog {
  display: flex;
  align-items: center;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-major-catalog a {
  text-decoration: none;
  display: flex;
  color: #333;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-major-catalog a .header__bottom-major-catalog-unit {
  display: flex;
  align-items: center;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-major-catalog a .header__bottom-major-catalog-unit p {
  font-size: 12px;
  margin-left: 12px;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-major-catalog a + a {
  margin-left: 25px;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block {
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-more {
  cursor: pointer;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu {
  position: absolute;
  top: 102%;
  right: 0;
  width: 288px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  display: none;
  z-index: 200;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu li a .img-menu-block {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu li a p {
  color: #333;
  margin-left: 12px;
  font-size: 12px;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu li a:hover {
  color: #FE0E36;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu li a:hover p {
  color: #FE0E36;
}
.header .header__bottom .header__bottom-wrapper .header__bottom-catalog-more-block .header__bottom-catalog-img-menu li + li {
  margin-top: 15px;
}

.footer {
  margin-top: 100px;
  padding-top: 50px;
  border-top: 1px solid #ccc;
  padding-bottom: 50px;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer__wrapper .footer__column .footer__column-logo {
  width: 148px;
}
.footer .footer__wrapper .footer__column .footer__copyright {
  color: #666;
  font-size: 14px;
  width: 220px;
  margin-top: 20px;
}
.footer .footer__wrapper .footer__column .footer-link {
  text-decoration: none;
  display: flex;
  color: #F74E05;
  font-size: 14px;
}
.footer .footer__wrapper .footer__column .footer-link_copyright {
  width: 148px;
  margin-top: 15px;
}
.footer .footer__wrapper .footer__column h4 {
  font-size: 16px;
  font-weight: 600;
}
.footer .footer__wrapper .footer__column .footer__address {
  margin-top: 21px;
  color: #666;
}
.footer .footer__wrapper .footer__column .footer-link_mail {
  margin-top: 12px;
}
.footer .footer__wrapper .footer__column .common-btn_white-footer {
  width: 220px;
  height: 42px;
  margin-top: 30px;
}
.footer .footer__wrapper .footer__column .footer-nav {
  list-style: none;
}
.footer .footer__wrapper .footer__column .footer-nav li a {
  text-decoration: none;
  color: #666;
  font-size: 15px;
}
.footer .footer__wrapper .footer__column .footer-nav li a:hover {
  color: #FE0E36;
}
.footer .footer__wrapper .footer__column .footer-nav li + li {
  margin-top: 13px;
}
.footer .footer__wrapper .footer__column .footer__phone {
  color: #666;
  text-decoration: none;
  font-size: 16px;
}
.footer .footer__wrapper .footer__column .footer-recall {
  margin-top: 15px;
  display: flex;
  align-items: center;
  color: #F74E05;
  cursor: pointer;
}
.footer .footer__wrapper .footer__column .footer-recall p {
  margin-left: 10px;
}
.footer .footer__wrapper .footer__column .social-block {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .footer__wrapper .footer__column .social-block .social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.footer .footer__wrapper .footer__column .social-block .social-wrapper a {
  text-decoration: none;
  display: flex;
}
.footer .footer__wrapper .footer__column .social-block .social-wrapper a + a {
  margin-left: 25px;
}

.template-main {
  margin-top: 50px;
}
.template-main .breadcrumbps ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}
.template-main .breadcrumbps ul li a {
  text-decoration: none;
  color: #333;
}
.template-main .breadcrumbps ul .last-crumb {
  color: #FE0E36;
}
.template-main .page-title {
  margin-top: 15px;
  font-size: 32px;
}
.template-main .pagination-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.template-main .pagination-wrapper .pagination {
  display: flex;
  list-style: none;
}
.template-main .pagination-wrapper .pagination li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-main .pagination-wrapper .pagination li a {
  text-decoration: none;
  color: #666;
}
.template-main .pagination-wrapper .pagination li + li {
  margin-left: 10px;
}
.template-main .pagination-wrapper .pagination .active {
  background: #FE0E36;
}
.template-main .pagination-wrapper .pagination .active a {
  color: #fff;
}

.contacts-page__top-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.contacts-page__top-line .contacts-page__top-line-unit .contacts-page__top-line-unit-wrapper {
  display: flex;
  align-items: flex-start;
  width: 294px;
}
.contacts-page__top-line .contacts-page__top-line-unit .contacts-page__top-line-unit-wrapper .img-box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-page__top-line .contacts-page__top-line-unit .contacts-page__top-line-unit-wrapper .contacts-page__top-line-unit-text {
  margin-left: 18px;
  width: 220px;
}
.contacts-page__top-line .contacts-page__top-line-unit .contacts-page__top-line-unit-wrapper .contacts-page__top-line-unit-text h4 {
  font-weight: 600;
  margin-bottom: 11px;
  font-size: 20px;
}
.contacts-page__top-line .contacts-page__top-line-unit .common-btn_white-contacts {
  height: 40px;
  width: 230px;
  margin-top: 10px;
}
.contacts-page__top-line .contacts-page__top-line-unit .contacts-page__top-line-unit-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
.contacts-page__top-line .contacts-page__top-line-unit .contacts-page__top-line-unit-social .contacts-page__top-line-unit-social-block {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #FE0E36;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-map-wrapper {
  margin-top: 50px;
  position: relative;
}
.contacts-map-wrapper .map-contacts {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 290px;
  background: #fff;
  padding: 20px 23px 32px;
  border-radius: 5px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
.contacts-map-wrapper .map-contacts h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}
.contacts-map-wrapper .map-contacts .common-input {
  margin-top: 7px;
}
.contacts-map-wrapper .map-contacts .common-textarea {
  height: 136px;
  margin-top: 7px;
}
.contacts-map-wrapper .map-contacts .common-btn_send-contacts-map {
  height: 45px;
  margin-top: 15px;
}

.delivery-page {
  margin-top: 40px;
}

.delivery-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.delivery-text-wrapper .delivery-text {
  width: 580px;
}
.delivery-text-wrapper .delivery-text h2 {
  font-size: 28px;
  font-weight: 600;
}
.delivery-text-wrapper .delivery-text p {
  margin-top: 25px;
  font-size: 18px;
  line-height: 140%;
}
.delivery-text-wrapper .delivery-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.delivery-company {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -19px;
}
.delivery-company .delivery-company__unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 12px 10px 20px;
  width: 223px;
  margin-top: 20px;
  margin-left: 19px;
}
.delivery-company .delivery-company__unit p {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  height: 35px;
}
.delivery-company .delivery-company__unit a {
  text-decoration: none;
}
.delivery-company .delivery-company__unit .delivery-company__unit-btn {
  width: 172px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFA158;
  border-radius: 4px;
  background: #fff;
  transition: 0.3s all ease;
  margin-top: 15px;
  cursor: pointer;
}
.delivery-company .delivery-company__unit .delivery-company__unit-btn p {
  margin: 0;
  color: #FFA158;
  text-align: center;
}
.delivery-company .delivery-company__unit .delivery-company__unit-btn:hover {
  background: #FFA158;
}
.delivery-company .delivery-company__unit .delivery-company__unit-btn:hover p {
  color: #fff;
}

.delivery-notice {
  margin-top: 70px;
  padding: 20px 26px;
  background: #FFE8D5;
  border-radius: 4px;
}
.delivery-notice p {
  font-size: 16px;
  color: #FF8A2E;
  line-height: 19px;
}

.payment-page {
  margin-top: 40px;
}

.payment-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.payment-wrapper .payment-unit {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.payment-wrapper .payment-unit .payment-title {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FE0E36;
  border-radius: 6px;
}
.payment-wrapper .payment-unit .payment-title .payment-title-img {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-wrapper .payment-unit .payment-title p {
  width: 174px;
  margin-left: 20px;
  font-weight: 600;
}
.payment-wrapper .payment-unit p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 170%;
}
.payment-wrapper .payment-unit p a {
  color: #FE0E36;
  text-decoration: none;
}

.fancy-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}
.fancy-box .fancy-box__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fancy-box .fancy-box__wrapper .reacall-box {
  background: #fff;
  width: 400px;
  padding: 45px 30px;
  border-radius: 6px;
  position: relative;
}
.fancy-box .fancy-box__wrapper .reacall-box .reacall-box__close {
  position: absolute;
  top: 25px;
  right: 18px;
  cursor: pointer;
}
.fancy-box .fancy-box__wrapper .reacall-box .reacall-box__title h4 {
  font-weight: 700;
  font-size: 24px;
}
.fancy-box .fancy-box__wrapper .reacall-box .reacall-box__title p {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.fancy-box_recall {
  display: none;
}
.fancy-box_recall .input-block {
  margin-top: 7px;
}
.fancy-box_recall .input-block input {
  margin-top: 8px;
}
.fancy-box_recall .common-btn_recall-form {
  margin-top: 15px;
  height: 50px;
}
.fancy-box_recall .recall-notice {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
.fancy-box_recall .recall-notice a {
  color: #666;
}

.fancy-box_selection {
  display: none;
}
.fancy-box_selection .input-block {
  margin-top: 10px;
}
.fancy-box_selection .input-block input {
  margin-top: 7px;
}
.fancy-box_selection .input-block textarea {
  height: 92px;
}
.fancy-box_selection .input-block .shield-block {
  margin: 10px 0;
}
.fancy-box_selection .input-block .shield-block p {
  font-size: 14px;
}
.fancy-box_selection .input-block .shield-block .common-btn_upload-photo {
  width: 138px;
  height: 30px;
  margin-top: 15px;
}
.fancy-box_selection .common-btn_send-request {
  height: 45px;
  margin-top: 20px;
}

.banner-unit img {
  width: 100%;
}

.selection-parts {
  margin-top: 50px;
}
.selection-parts h4 {
  font-size: 24px;
  font-weight: 600;
}
.selection-parts p {
  font-size: 14px;
  margin-top: 15px;
}
.selection-parts .common-btn_selection-parts {
  margin-top: 25px;
  width: 200px;
  height: 45px;
}
.selection-parts .common-btn_selection-parts p {
  margin: 0;
}

.add-new {
  margin-top: 50px;
}
.add-new h2 {
  font-size: 24px;
  font-weight: 600;
}

.product-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -34px;
}
.product-main__wrapper .product-cart_big {
  width: 274px;
  height: 459px;
  padding: 14px 14px 30px;
  margin-left: 34px;
  margin-top: 40px;
}
.product-main__wrapper .product-cart_big .product-img {
  height: 201px;
}
.product-main__wrapper .product-cart_big .product-sku {
  margin-top: 15px;
}
.product-main__wrapper .product-cart_big .product-name {
  font-size: 16px;
  margin-top: 10px;
}
.product-main__wrapper .product-cart_big .product-price {
  margin-top: 20px;
  font-size: 16px;
}
.product-main__wrapper .product-cart_big .common-btn_shop-product {
  margin-top: 30px;
  height: 36px;
  width: 100%;
}
.product-main__wrapper .product-cart_big .common-btn_shop-product p {
  margin-left: 10px;
}
.product-main__wrapper .product-cart_big .common-btn_white-shop-one-click {
  margin-top: 15px;
  height: 36px;
  width: 100%;
}
.product-main__wrapper .product-cart_big .common-btn_white-shop-one-click p {
  margin-left: 10px;
}

.manufacturer-list {
  margin-top: 50px;
}
.manufacturer-list h2 {
  font-size: 24px;
  font-weight: 600;
}
.manufacturer-list .manufacturer-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.manufacturer-list .manufacturer-wrapper .manufactuter-main-unit-link {
  display: flex;
  text-decoration: none;
}
.manufacturer-list .manufacturer-wrapper .manufactuter-main-unit-link .manufactuter-main-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 112px;
  border: 1px solid #CCCCCC;
  padding: 12px;
}
.manufacturer-list .manufacturer-wrapper .manufactuter-main-unit-link .manufactuter-main-unit .manufactuter-main-unit-img {
  width: 162px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.manufacturer-list .manufacturer-wrapper .manufactuter-main-unit-link .manufactuter-main-unit .manufactuter-main-unit-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.manufacturer-list .manufacturer-wrapper .manufactuter-main-unit-link .manufactuter-main-unit p {
  font-weight: 600;
  color: #333;
}

.about-text {
  margin-top: 50px;
}
.about-text h2 {
  font-size: 24px;
  font-weight: 600;
}
.about-text .about-text__block {
  margin-top: 30px;
}
.about-text .about-text__block p {
  font-size: 14px;
}
.about-text .about-text__block p + p {
  margin-top: 20px;
}

.delivery-banner {
  margin-top: 50px;
  border: 1px solid #CCCCCC;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px;
}
.delivery-banner .delivery-banner__text {
  margin-left: 40px;
}
.delivery-banner .delivery-banner__text p {
  font-size: 14px;
}
.delivery-banner .delivery-banner__text a {
  text-decoration: none;
}
.delivery-banner .delivery-banner__text .common-btn_delivery-banner {
  width: 220px;
  height: 35px;
  margin-top: 15px;
}

.manufacturer-page {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
}
.manufacturer-page .manufacturer-page__unit-link {
  text-decoration: none;
  display: flex;
  margin-left: 18px;
  margin-top: 35px;
}
.manufacturer-page .manufacturer-page__unit {
  width: 284px;
  height: 322px;
  border: 1px solid #CCCCCC;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 21px;
}
.manufacturer-page .manufacturer-page__unit .manufacturer-page__unit-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 181px;
  border-bottom: 1px solid #ccc;
}
.manufacturer-page .manufacturer-page__unit h4 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}
.manufacturer-page .manufacturer-page__unit p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.product-page {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 40px 30px;
}
.product-page .product-page__img {
  width: 348px;
  height: 348px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-page .product-page__img img {
  min-width: 100%;
}
.product-page .product-page__data {
  width: 640px;
}
.product-page .product-page__data .product-page__title {
  font-size: 28px;
  font-weight: 700;
}
.product-page .product-page__data .product-page__sku-stock {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.product-page .product-page__data .product-page__sku-stock .product-page__sku {
  color: #999;
  font-size: 14px;
}
.product-page .product-page__data .product-page__sku-stock .product-page__stock {
  display: flex;
  align-items: center;
  margin-left: 40px;
  color: #FE0E36;
}
.product-page .product-page__data .product-page__sku-stock .product-page__stock p {
  margin-left: 7px;
}
.product-page .product-page__data .product-description {
  margin-top: 40px;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
}
.product-page .product-page__data .product-price {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.product-page .product-page__data .product-price .product-price-common h4 {
  font-size: 28px;
  font-weight: 600;
}
.product-page .product-page__data .product-price .product-price-common p {
  margin-top: 2px;
  font-size: 14px;
  color: #808080;
}
.product-page .product-page__data .product-price .product-price__wholesale {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #B3B3B3;
}
.product-page .product-page__data .product-price .product-price__wholesale h4 {
  color: #808080;
}
.product-page .product-page__data .product-counter-shop-manufacturer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}
.product-page .product-page__data .product-counter-shop-manufacturer .common-btn_product-shop {
  width: 180px;
  height: 55px;
}

.product__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
}
.product__count .product__count-btn {
  height: 55px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product__count .product__count-input {
  width: 55px;
  height: 50px;
  text-align: center;
  border: none;
  background: #fff;
  font-size: 26px;
  color: #808080;
}

.checkout-page-box {
  padding: 26px 28px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.checkout-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.checkout-page .checkout-page__data {
  width: 850px;
}
.checkout-page .checkout-page__data .checkout-page__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.checkout-page .checkout-page__data .checkout-contacts__line {
  display: flex;
  align-items: center;
}
.checkout-page .checkout-page__data .checkout-contacts__input {
  width: 220px;
}
.checkout-page .checkout-page__data .checkout-contacts__input + .checkout-contacts__input {
  margin-left: 10px;
}
.checkout-page .checkout-page__data .checkout-contacts__input-long {
  margin-top: 10px;
  width: 450px;
}
.checkout-page .checkout-page__data .checkout-details {
  margin-top: 50px;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-img {
  width: 127px;
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-text {
  width: 240px;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-text .checkout-details__unit-sku {
  font-size: 12px;
  color: #999;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-text .checkout-details__unit-name-link {
  display: flex;
  text-decoration: none;
  color: #333;
  margin-top: 8px;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-price .checkout-details__unit-price-old {
  color: #999;
  text-decoration: line-through;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-price .checkout-details__unit-price-curr {
  margin-top: 3px;
  font-size: 22px;
  color: #333;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .product__count {
  width: 135px;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .product__count .product__count-btn {
  height: 43px;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .product__count .product__count-input {
  height: 43px;
}
.checkout-page .checkout-page__data .checkout-details .checkout-details__unit .checkout-details__unit-delete {
  cursor: pointer;
}
.checkout-page .checkout-page__data .checkout-payment-methods {
  margin-top: 40px;
}
.checkout-page .checkout-page__data .checkout-payment-methods .checkout-payment-methods-wrapper {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-page .checkout-page__data .checkout-payment-methods .checkout-payment-methods-wrapper .checkout-payment-method {
  width: 242px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  transition: 0.3s all ease;
}
.checkout-page .checkout-page__data .checkout-payment-methods .checkout-payment-methods-wrapper .checkout-payment-method .checkout-payment-method__img {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-page .checkout-page__data .checkout-payment-methods .checkout-payment-methods-wrapper .checkout-payment-method p {
  width: 143px;
  font-size: 14px;
  margin-left: 12px;
}
.checkout-page .checkout-page__data .checkout-payment-methods .checkout-payment-methods-wrapper .checkout-payment-method:hover {
  background: #F5D6B2;
}
.checkout-page .checkout-page__data .checkout-payment-methods .checkout-payment-methods-wrapper .checkout-payment-method_active {
  background: #F5D6B2;
}
.checkout-page .checkout-totals {
  width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  padding: 19px 25px;
  background: #666666;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
}
.checkout-page .checkout-totals .checkout-totals__title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}
.checkout-page .checkout-totals .checkout-totals__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.checkout-page .checkout-totals .checkout-totals__line p {
  font-size: 14px;
}
.checkout-page .checkout-totals .checkout-totals__line span {
  font-size: 16px;
}
.checkout-page .checkout-totals .checkout-totals__line + .checkout-totals__line {
  margin-top: 20px;
}
.checkout-page .checkout-totals .checkout-totals__line-summ p {
  font-size: 18px;
}
.checkout-page .checkout-totals .checkout-totals__line-summ h4 {
  font-size: 24px;
  font-weight: 600;
}
.checkout-page .checkout-totals .checkout-demmiter {
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 20px 0;
}
.checkout-page .checkout-totals .common-btn_get-shop {
  height: 50px;
}
.checkout-page .checkout-totals a {
  color: #fff;
  text-align: center;
  display: flex;
  margin-top: 15px;
  width: 100%;
  justify-content: center;
}

.catalog-manufacturer-search__page {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.catalog-manufacturer-search__page .sidebar-catalog {
  width: 290px;
}
.catalog-manufacturer-search__page .sidebar-catalog__block {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 28px 25px;
}

.page-wrapper {
  width: 878px;
}

.product_page-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -19px;
  margin-top: -25px;
}

.product-cart_sm {
  width: 200px;
  height: 335px;
  margin-left: 19px;
  margin-top: 25px;
  padding: 10px;
}
.product-cart_sm .product-sku {
  font-size: 14px;
  margin-top: 10px;
}
.product-cart_sm .product-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}
.product-cart_sm .product-price {
  margin-top: 5px;
  margin-bottom: 5px;
}
.product-cart_sm .common-btn {
  width: 100%;
  height: 25px;
  margin-top: 8px;
}
.product-cart_sm .common-btn p {
  margin-left: 8px;
}

.sidebar-search__form .common-select {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar-search__form .checkbox-block {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}
.sidebar-search__form .common-btn {
  width: 100%;
  height: 35px;
  border: none;
  color: #fff;
  margin-top: 15px;
}

.manufacturer-list__block {
  width: 100%;
  border: 1px solid #ccc;
  padding: 30px 20px;
}
.manufacturer-list__block h4 {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.manufacturer-list__block ul {
  margin-top: 25px;
  padding-left: 20px;
}
.manufacturer-list__block ul li {
  font-size: 16px;
  margin-top: 8px;
}
.manufacturer-list__block ul li::marker {
  color: #FE0E36;
  font-size: 18px;
}
.manufacturer-list__block ul li a {
  text-decoration: none;
  color: #333;
}

.private-page .privacy-secthion {
  margin-top: 20px;
}
.private-page .privacy-secthion h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.private-page .privacy-secthion p {
  margin-top: 15px;
  line-height: 130%;
}
.private-page .privacy-secthion ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 15px;
}
.private-page .privacy-secthion ul li {
  margin-top: 8px;
  line-height: 140%;
}/*# sourceMappingURL=style.css.map */